 <h4 class="r_th"><b class="fl th_line_b">交单记录 &gt; 详细信息</b></h4>

    <h5 style="margin-top:20px;color:darkgray;text-align:center;margin-bottom:5px;">———— 下单时的信息快照 ————</h5>
    <table class="list_table_o blue_link link_line">
        <thead>
        <tr>
            <th width="110">平台</th>
            <th width="40">评级</th>
            <th>活动 / 方案名称 / 投资项目</th>
            <th width="40">类型</th>
            <th width="60">投资时长</th>
            <th width="150">充值金额</th>
            <th width="60">返现(%)</th>
            <th width="60">其他(%)</th>
            <th width="100">返利周期</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                
                    <a href="http://www.hyft88.com/" target="_blank">汇银富通</a>
                
            </td>
            <td>C</td>
            <td><a href="/a/643" target="_blank">第1期</a> / 方案1 / 30天标</td>
            <td>首投</td>
            <td>30天</td>
            <td>5000 - 无上限</td>
            <td>3.3%</td>
            <td>0.0%</td>
            <td>1-3个工作日</td>
        </tr>
        
        </tbody>
    </table>

    <h5 style="margin-top:20px;color:darkgray;text-align:center;margin-bottom:5px;">———— 交单信息 ————</h5>
    <table class="list_table_o blue_link link_line">
        <thead>
        <tr>
            <th width="80">投资日期</th>
            <th width="60">姓名</th>
            <th width="90">手机号</th>
            <th width="110">实投金额</th>
            <th width="60">返现</th>
            <th width="60">其他</th>
            <th>用户名 / 截图</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>2018-04-24</td>
            <td>毛凡</td>
            <td>15013674552</td>
            <td>1,0000.00</td>
            <td>330</td>
            <td>0</td>
            <td style="padding:0">
                无用户名 /
                
                    无截图
                
            </td>
        </tr>
        </tbody>
    </table>

    <h5 style="margin-top:20px;color:darkgray;text-align:center;margin-bottom:5px;">———— 处理记录 ————</h5>
    <table class="list_table_o blue_link link_line">
        <thead>
        <tr>
            <th width="140">处理日期</th>
            <th width="60">状态</th>
            <th width="80">金额</th>
            <th>备注说明</th>
        </tr>
        </thead>
        <tbody>
        
        <tr><td colspan="4">-- 无处理记录 --</td></tr>
        
        </tbody>
    </table>

    <p style="margin-top:80px;color: darkgray">交单日期: 18-05-24 16:33:02 | 最后更新日期: 18-05-24 16:33:02</p>

